# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/ethbft

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Generated JWT secret
jwt.hex

# Local config
/config.json

# Data directories
geth_data/
cometbft_home/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
